textarea {
	resize: none;
	width: 30vw;
	color: white;
	height: 300px;
	background-color: black;
}
.title {
	font-size: 40px;
	font-weight: 550;
	padding: 20px;
	text-align: center;
}
.select-div {
	width: 200px;
	padding: 20px;
	z-index: 10;
}
.editor-div {
	z-index: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.editor-div button {
	font-size: 20px;
	border: 0;
	padding: 10px;
	font-weight: 550;
	background-color: rgb(0, 253, 0);
	color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px 7px lightgray;
	margin: 10px;
	cursor: pointer;
}
.cover {
	display: flex;
}
.box {
	display: flex;
	flex-direction: column;
}
.title-div,
.box div {
	font-size: 25px;
	padding: 20px 0;
	font-weight: 550;
}
.box-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.App {
	margin-bottom: 50px;
}
